/* 
  ========= Paleta de colores =========
*/

.bg-main-color {
  background-color: #2C2C54 !important;
}

.bg-second-color {
  background-color: #10E5A5 !important;
}

.bg-third-color {
  background-color: #f4f4f4 !important;
}

.bg-white {
  background-color: #fff !important;
}

.pac-container {
  z-index: 10000 !important;
}